{% extends 'base.html' %}

{% load static %}

{% block title %}ラジオを楽しむ{% endblock %}

{% block contents %}
  <section class="bs-docs-section">

    <div class="row">
      <div class="col-lg-12">
        <div class="my-4">
          <h2>録音済み番組一覧</h2>
        </div>

        <div class="bs-component">
          <table class="table table-hover table-striped">
            <thead>
              <tr>
                <th scope="col">放送日時</th>
                <th scope="col">番組タイトル</th>
                <th scope="col">パーソナリティ</th>
                <th scope="col">放送局</th>
              </tr>
            </thead>
            <tbody>
	      {% for item in object_list %}
              <tr>
                <td>{{ item.prog_ft }}</td>
                <td><a href="{% url 'recfile:detail' item.pk  %}">{{ item.prog_title  }}</a></td>
                <td>{{ item.prog_pfm }}</td>
                <td>{{ item.prog_channel }}</td>
              </tr>
	      {% endfor %}
            </tbody>
          </table>
        </div><!-- /example -->
      </div>
    </div>
  </section>

{% endblock %}
